@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
}

@theme {
  --color-primary: rgba(49, 49, 49, 1);
}

@layer components {
  .section-container {
    @apply mx-auto container px-6 py-16;
  }
  .section-title {
    @apply text-4xl font-semibold text-primary;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}

button {
  cursor: pointer;
}
